@model IEnumerable<MVC2.Models.Post>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Griny - single & multi page theme</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<!--<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">-->
        <link href="griny/css/bootstrap.min.css" rel="stylesheet" />
		<!--<link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">-->
        <link href="griny/css/bootstrap-responsive.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="css/colorbox.css">-->
        <link href="griny/css/colorbox.css" rel="stylesheet" />
        <link href="~/Content/ellips2.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		
		<!--<link rel="stylesheet" href="css/main.css">-->
        <link href="griny/css/main.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="css/font-awesome.min.css">-->
        <link href="griny/css/font-awesome.min.css" rel="stylesheet" />
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
        <!--<script src="js/vendor/modernizr-2.6.2.min.js"></script>-->
        <script src="griny/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
                       <body>
                           <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

                           <div class="navbar navbar-fixed-top">
                               <div class="navbar-inner">
                                   <div class="container">
                                       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                           <span class="icon-bar"></span>
                                           <span class="icon-bar"></span>
                                           <span class="icon-bar"></span>
                                       </a>
                                       <a class="brand goTop" href="#">A.Raynor</a>
                                       <div class="nav-collapse pull-right">
                                           <ul class="nav">
                                               <li><a href="index.html">Home</a></li>
                                               <li class="dropdown">
                                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages  <b class="caret"></b></a>
                                                   <ul class="dropdown-menu" role="menu">
                                                       <li><a href="about.html">About Us</a></li>
                                                       <li><a href="services.html">Services</a></li>
                                                       <li><a href="price.html">Price</a></li>
                                                       <li><a href="login.html">Login</a></li>
                                                       <li><a href="register.html">Register</a></li>
                                                       <li><a href="faq.html">F.A.Q.</a></li>
                                                       <li><a href="contacts.html">Contact</a></li>
                                                   </ul>
                                               </li>
                                               <li class="dropdown">
                                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                                                   <ul class="dropdown-menu" role="menu">
                                                       <li><a href="blog-right.html">Blog right sidebar</a></li>
                                                       <li><a href="blog-left.html">Blog left sidebar</a></li>
                                                       <li class="active"><a href="blog-full.html">Blog full</a></li>
                                                       <li class="divider"></li>
                                                       <li><a href="blog-single.html">Blog single one</a></li>
                                                       <li><a href="blog-single2.html">Blog single two</a></li>
                                                   </ul>
                                               </li>
                                               <li class="dropdown">
                                                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>
                                                   <ul class="dropdown-menu" role="menu">
                                                       <li><a href="works.html">Simple gallery</a></li>
                                                       <li><a href="works2.html">With text</a></li>
                                                       <li><a href="works3.html">With filter</a></li>
                                                       <li class="divider"></li>
                                                       <li><a href="works-single.html">Single project</a></li>
                                                   </ul>
                                               </li>
                                               <li>
                                                   <a href="shortcodes.html">Shortcodes</a>
                                               </li>
                                           </ul>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="parallax" style="background-image: url(griny/images/bg1.jpg);">
                               <div class="text">
                                   <h1>My weBLOG</h1>
                                   <p>by ANIVRA</p>
                               </div>
                           </div>

                           <section class="text-block">
                               <div class="light-bg">
                                   <div class="container">
                                       <h2 class="with-border">Blog <small class="color">/ write something</small></h2>
                                       <ul class="thumbnails">
                                           @*<div class="row">*@                                                                                                                                         
                                                                                                                                                        
                                               @foreach (var item in Model)
                                               {
                                                       <li class="span6">
                                                           <div class="thumbnail">
                                                               <div class="img-wrap">
                                                                   <a href="#"><img src="griny/images/image_1.jpg" alt="" /></a>
                                                               </div>
                                                               <h3 class="with-border">@Html.DisplayFor(modelItem => item.Title)</h3>
                                                               <div class="info-panel">
                                                                   <span><time datetime=""><i class="icon-calendar "></i> @item.Created.ToString("MMM dd, yyyy")</time></span>
                                                                   <span><i class="icon-user"></i> By @Html.DisplayFor(modelItem => item.Author.FirstName) </span>
                                                                   <span><i class="icon-tags"></i> <a href="#">Portfolio</a>, <a href="#">Design</a></span>
                                                                   <span><i class="icon-comments"></i> With <a href="#">@item.Comments.Count comment(s)</a></span>
                                                               </div>
                                                               <div class="box">
                                                                   <div class="">
                                                                       @Html.DisplayFor(modelItem => item.Body)
                                                                   </div>
                                                               </div>
                                                                   <a class="pull-left">
                                                                       @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                                       @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                                       @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                                   </a>
                                                                   <a class="btn pull-right" href="#">Read more</a>
                                                               </div>
</li>
                                                       }                                                       
</ul>
                                   </div>
                               </div>
                           </section>

                           <div class="bottom-parallax small-view" style="background-image: url(griny/images/bg1.jpg);">
                               <div class="black-bg">
                                   <div class="container">
                                       <div class="row-fluid">
                                           <div class="span9">
                                               <h3>@*Want to get started?*@</h3>
                                               <h4>@*Nullam iaculis dictum ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur ante.*@</h4>
                                           </div>
                                           <div class="span3">
                                               <a class="btn btn-large" href="#">Contact us</a>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>

                           <footer>
                               <div class="light-bg">
                                   <div class="container">
                                       <div class="row-fluid">
                                           <div class="span3">
                                               <h4>Get in touch</h4>
                                               <div class="info-block">
                                                   <article class="clearfix">
                                                       <i class="icon-globe"></i>
                                                       <address>
                                                           2425 West Boli Blvd. Suite 421.<br />
                                                           City, Merils. United States,<br />
                                                           Zip Code, 123456.
                                                       </address>
                                                   </article>
                                                   <article class="clearfix">
                                                       <i class="icon-phone"></i>
                                                       <p>8 417 274 2933</p>
                                                   </article>
                                                   <article class="clearfix">
                                                       <i class="icon-envelope"></i>
                                                       <p><a href="mailto:bootstrap@twitter.com">bootstrap@twitter.com</a></p>
                                                   </article>
                                               </div>
                                           </div>
                                           <div class="span3">
                                               <h4>Follow us</h4>
                                               <div class="social">
                                                   <ul class="unstyled clearfix">
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-twitter"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-facebook"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-github"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-linkedin"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-pinterest"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-google-plus"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-vk"></i>
                                                           </a>
                                                       </li>
                                                       <li>
                                                           <a target="_blank" title="" href="#">
                                                               <i class="icon-rss"></i>
                                                           </a>
                                                       </li>
                                                   </ul>
                                               </div>
                                           </div>
                                           <div class="span3">
                                               <h4>Recent posts</h4>
                                               <ul class="link-list">
                                                    @foreach (var item in Model)
                                                    {
                                                        <li><a href="#">@item.Title</a></li>
                                                    }

                                               </ul>
                                           </div>
                                           <div class="span3">
                                               
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="copyright-block dark-bg clearfix">
                                   <div class="container">
                                       <div class="pull-left">
                                           <p class="pull-left">Copyright &copy; 2013 by <a href="http://www.frosenka.ru" target="_blank">frosenka</a>. All Rights Reserved</p>
                                       </div>
                                       <div class="pull-right">
                                           <p>Thanks <a href="http://www.unsplash.com" target="_blank">ooomf</a> for the pictures</p>
                                       </div>
                                   </div>
                               </div>
                           </footer>
                           <a class="goTop goTop-link"><i class="icon-angle-up"></i></a>

                           <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                           <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
                           <!--<script src="js/bootstrap.min.js"></script>-->
                           <script src="griny/js/bootstrap.min.js"></script>
                           <!--<script src="js/plugins.js"></script>-->
                           <script src="griny/js/plugins.js"></script>
                           <!--<script src="js/placeholder.js"></script>-->
                           <script src="griny/js/placeholder.js"></script>
                           <!--<script src="js/jquery.colorbox-min.js"></script>-->
                           <script src="griny/js/jquery.colorbox-min.js"></script>
                           <!--<script src="js/main.js"></script>-->
                           <script src="griny/js/main.js"></script>
                       </body>
</html>
